body {
  padding-left: 11em;
  font-family: Verdana, sans-serif, Georgia, "Times New Roman",
        Times, serif;
  color: #191970;
  background-color: "#ff0000" }
ul.navbar {
  list-style-type: none;
  padding: 0;
  margin: 0;
  position: absolute;
  top: 2em;
  left: 1em;
  width: 9em }
h1 {
  font-family: Helvetica, Geneva, Arial,
        SunSans-Regular, sans-serif; 
		font-size: 40px}

p {
	margin: 10px 100px 5px 5px;
}

div {
    margin: 10px 10px 10px 30px;
}


ul.navbar {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 150px;
    background-color: #f1f1f1;
    border: 2px solid #555;
}

li a {
    display: block;
    color: #000;
    padding: 8px 16px;
    text-decoration: none;
}

li {
    text-align: center;
    border-bottom: 1px solid #555;
}

li:last-child {
    border-bottom: none;
}

li a.active {
    background-color: #4CAF50;
    color: white;
}

li a:hover:not(.active) {
    background-color: #555;
    color: white;
}


